@model dynamic

@{
    ViewBag.Title = I18N.LoyaltyPointManager;
    Layout = ViewBag.SalesLayoutPath;
}

<h2>@I18N.LoyaltyPointManager</h2>

<script src="/Areas/MixERP.Sales/scripts/loyalty/points/index.js"></script>

