<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
    <appSettings>
        <add key="ThemeName" value="new look" />
        <add key="Author" value="jack " />
        <add key="AuthorUrl" value="" />
        <add key="AuthorEmail" value="as@gmail.com" />
        <add key="ConvertedBy" value="Harry" />
        <add key="ReleasedOn" value="2019-06-21" />
        <add key="Version" value="1.1.0" />
        <add key="Category" value="" />
        <add key="Responsive" value="Yes" />
        <add key="Framework" value="" />
    </appSettings>
</configuration>