@model dynamic

@{
    ViewBag.Title = I18N.PriceTypes;
    Layout = ViewBag.SalesLayoutPath;
}



<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>

<script src="/Areas/MixERP.Sales/scripts/setup/price-types.js"></script>
