@model dynamic

@{
    ViewBag.Title = I18N.CashFlowSetups;
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = window.translate("CashFlowSetups");

    scrudFactory.viewAPI = "/api/views/finance/cash-flow-setup-scrud-view";
    scrudFactory.viewTableName = "finance.cash_flow_setup_scrud_view";

    scrudFactory.formAPI = "/api/forms/finance/cash-flow-setup";
    scrudFactory.formTableName = "finance.cash_flow_setup";

    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs", "Deleted"];


    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "Name";

    scrudFactory.card = {
        header: "CashFlowHeading",
        description: "AccountMaster"        
    };

    //scrudFactory.layout = [
    //    {
    //        tab: "",
    //        fields: [
    //            ["", ""],
    //            ["", ""],
    //        ]
    //    }
    //];

    scrudFactory.keys = [
        {
            property: "CashFlowHeadingId",
            url: '/api/forms/finance/cash-flow-headings/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        },
        {
            property: "AccountMasterId",
            url: '/api/forms/finance/account-masters/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        }
    ];



    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>