@model dynamic

@{
    ViewBag.Title = I18N.CostCenters;
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = window.translate("CostCenters");

    scrudFactory.viewAPI = "/api/views/finance/cost-center-scrud-view";
    scrudFactory.viewTableName = "finance.cost_center_scrud_view";

    scrudFactory.formAPI = "/api/forms/finance/cost-centers";
    scrudFactory.formTableName = "finance.cost_centers";

    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs", "Deleted"];


    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "CostCenterName";

    scrudFactory.card = {
        header: "CostCenterName",
        description: "CostCenterCode"        
    };

    //scrudFactory.layout = [
    //    {
    //        tab: "",
    //        fields: [
    //            ["", ""],
    //            ["", ""],
    //        ]
    //    }
    //];

    //scrudFactory.keys = [
    //    {
    //        property: "CamelCase",
    //        url: '/api/forms/finance//display-fields',
    //        data: null,
    //        valueField: "Key",
    //        textField: "Value"
    //    }
    //];



    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>