@model dynamic

@{
    ViewBag.Title = I18N.ExitTypes;
    Layout = ViewBag.Layout;
}
<script>
	var scrudFactory = new Object();

    scrudFactory.title = window.translate("ExitTypes");

    scrudFactory.viewAPI = "/api/forms/hrm/exit-types";
    scrudFactory.viewTableName = "hrm.exit_types";

    scrudFactory.formAPI = "/api/forms/hrm/exit-types";
    scrudFactory.formTableName = "hrm.exit_types";

    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs", "Deleted"];


    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "ExitTypeName";
    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });

    scrudFactory.card = {
        header: "ExitTypeName",        
        description: "ExitTypeCode"
    };


</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>
