@model dynamic

<div class="ui customer search fullscreen modal padded segment">
    <iframe src="/dashboard/sales/setup/customers/search"></iframe>
</div>
<script src="/Areas/MixERP.Sales/scripts/shared/customer-search.js"></script>
