@model dynamic

@{
    ViewBag.Title = I18N.Resignations;
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = window.translate("Resignations");

    scrudFactory.viewAPI = "/api/views/hrm/resignation-scrud-view";
    scrudFactory.viewTableName = "hrm.resignation_scrud_view";

    scrudFactory.formAPI = "/api/forms/hrm/resignations";
    scrudFactory.formTableName = "hrm.resignations";

    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "EmployeeId";

    scrudFactory.readonlyColumns = ["EndedOn"];
    scrudFactory.hiddenColumns = ["EnteredBy", "VerificationStatusId", "VerifiedByUserId", "VerifiedOn", "VerificationReason"];
    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs", "Photo"];

    scrudFactory.keys = [
        {
            property: "EmployeeId",
            url: '/api/views/hrm/employee-view/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        },
        {
            property: "ForwardTo",
            url: '/api/views/hrm/employee-view/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        }
    ];

    scrudFactory.layout = [
        {
            tab: "",
            fields: [
                ["ResignationId"],
                ["NoticeDate", "DesiredResignDate"],
                ["ForwardTo"],
                ["ChangeStatusTo"],
                ["Reason"],
                ["Details"]
            ]
        }
    ];

    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>
<script>
    $(document).on("formready", function() {
        $("#entered_by").val(window.userId);
        $("#verification_status_id").val("0");
    });
</script>